---
layout: default
title: Education Acquisitions
---
<h2><a name="top">Education Technology Acquisitions</a> <img src="https://s3.amazonaws.com/hackedu/template_acquisitions.png" height="42" width="42" align="right" style="margin:10px"></h2>

<br />

<p><table style="width:100%">
  <tr>
    <td><a href="#2018">2018</a></td>
    <td><a href="#2017">2017</a></td>
    <td><a href="#2016">2016</a></td>
    <td><a href="#2015">2015</a></td>
  </tr>
  </table></p>
    
<br />

<p><em>Click to expand and view each year's acquisitions</em></p>

<script type="text/javascript">
  function showhide($divid)
    {
    if(document.getElementById($divid).style.display=='none')
      {
      document.getElementById($divid).style.display = '';
      }
     else
     {
      document.getElementById($divid).style.display = 'none';
     }
    }
</script>

<h3 onclick="showhide('acq-2018'); return false;"><a name="2018"></a>2018</h3>
<div style="display: none;" id="acq-2018">
<br />

<!-- Acquisitions2018 -->

{% assign acquisitions = site.data.acquisitions.2018 %}
{% assign acquisitions = acquisitions | sort:"Name" %}

<!-- Document -->

{% for acquisition in acquisitions %}

<ul>
<li><strong>{{ acquisition.Name }}</strong> was acquired by {{ acquisition.Acquirer }} (Amount Paid: {{ acquisition.Amount }}; <a href="{{ acquisition.URL }}">News Link</a>)</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>

<h3 onclick="showhide('acq-2017'); return false;"><a name="2017"></a>2017</h3>
<div style="display: none;" id="acq-2017">

<br />

<!-- Acquisitions2017 -->

{% assign acquisitions = site.data.acquisitions.2017 %}
{% assign acquisitions = acquisitions | sort:"Name" %}

<!-- Document -->

{% for acquisition in acquisitions %}

<ul>
<li><strong>{{ acquisition.Name }}</strong> was acquired by {{ acquisition.Acquirer }} (Amount Paid: {{ acquisition.Amount }}; <a href="{{ acquisition.URL }}">News Link</a>)</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>

<h3 onclick="showhide('acq-2016'); return false;"><a name="2016"></a>2016</h3>
<div style="display: none;" id="acq-2016">

<br />

<!-- Acquisitions2016 -->

{% assign acquisitions = site.data.acquisitions.2016 %}
{% assign acquisitions = acquisitions | sort:"Name" %}

<!-- Document -->

{% for acquisition in acquisitions %}

<ul>
<li><strong>{{ acquisition.Name }}</strong> was acquired by {{ acquisition.Acquirer }} (Amount Paid: {{ acquisition.Amount }}; <a href="{{ acquisition.URL }}">News Link</a>)</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>


<h3 onclick="showhide('acq-2015'); return false;"><a name="2015"></a>2015</h3>
<div style="display: none;" id="acq-2015">

<br />

<!-- Acquisitions2015 -->

{% assign acquisitions = site.data.acquisitions.2015 %}
{% assign acquisitions = acquisitions | sort:"Name" %}

<!-- Document -->

{% for acquisition in acquisitions %}

<ul>
<li><strong>{{ acquisition.Name }}</strong> was acquired by {{ acquisition.Acquirer }} (Amount Paid: {{ acquisition.Amount }}; <a href="{{ acquisition.URL }}">News Link</a>)</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>


<p style="text-align: right; font-size:12px"><em>This data is powered by a GitHub repository: <a href="https://Hack-Education-Data.github.io/acquisitions">Hack-Education-Data/acquisitions</a>. Last updated: 1 November 2018</em></p>
