---
layout: default
title: The Ed-Tech Startup Deadpool
---
<h3>The Ed-Tech Startup Deadpool <img src="https://s3.amazonaws.com/hackedu/template_death.png" height="42" width="42" align="right" style="margin:10px"></h3>

<br />

<p><em>These are the ed-tech companies that have closed their doors since 2013. (Some of these were later acquired and revived.)</p></em>
<hr >

<!-- Deadpool2017 -->

<p><strong>2017</strong></p>

{% assign deadpools = site.data.deadpool.2017 %}
{% assign deadpools = deadpools | sort:"Name" %}

<!-- Document -->

{% for deadpool in deadpools %}

<ul>
<li><strong>{{ deadpool.Name }}</strong> (Type of company: {{ deadpool.Keyword }}, Amount of funding raised: {{ deadpool.Investment }}</li>
</ul>

{% endfor %}

<hr >

<!-- Deadpool2016 -->

<p><strong>2016</strong></p>

{% assign deadpools = site.data.deadpool.2016 %}
{% assign deadpools = deadpools | sort:"Name" %}

<!-- Document -->

{% for deadpool in deadpools %}

<ul>
<li><strong>{{ deadpool.Name }}</strong> (Type of company: {{ deadpool.Keyword }}, Amount of funding raised: {{ deadpool.Investment }}</li>
</ul>

{% endfor %}

<hr >

<!-- Deadpool2015 -->

<p><strong>2015</strong></p>

{% assign deadpools = site.data.deadpool.2015 %}
{% assign deadpools = deadpools | sort:"Name" %}

<!-- Document -->

{% for deadpool in deadpools %}

<ul>
<li><strong>{{ deadpool.Name }}</strong> (Type of company: {{ deadpool.Keyword }}, Amount of funding raised: {{ deadpool.Investment }}</li>
</ul>

{% endfor %}

<hr >

<!-- Deadpool2014 -->

<p><strong>2014</strong></p>

{% assign deadpools = site.data.deadpool.2014 %}
{% assign deadpools = deadpools | sort:"Name" %}

<!-- Document -->

{% for deadpool in deadpools %}

<ul>
<li><strong>{{ deadpool.Name }}</strong> (Type of company: {{ deadpool.Keyword }}, Amount of funding raised: {{ deadpool.Investment }}</li>
</ul>

{% endfor %}

<hr >

<!-- Deadpool2013 -->

<p><strong>2013</strong></p>

{% assign deadpools = site.data.deadpool.2013 %}
{% assign deadpools = deadpools | sort:"Name" %}

<!-- Document -->

{% for deadpool in deadpools %}

<ul>
<li><strong>{{ deadpool.Name }}</strong> (Type of company: {{ deadpool.Keyword }}, Amount of funding raised: {{ deadpool.Investment }}</li>
</ul>

{% endfor %}

<p><em>This data is powered by a GitHub repository: <a href="https://github.com/Hack-Education-Data/deadpool">Hack-Education-Data/deadpool</a></em></p>
