---
layout: default
title: Ed-Tech Investments
---
<h3><a name="top">Education Technology Investments</a> <img src="https://s3.amazonaws.com/hackedu/icon_vc.png" height="42" width="42" align="right" style="margin:10px"></h3>

<br />

<p><table style="width:100%">
  <tr>
    <td><a href="#2017">2017</a></td>
    <td><a href="#2016">2016</a></td>
    <td><a href="#2015">2015</a></td>
  </tr>
  </table></p>
    
<br />

<p><em>Click to expand and view each year's investments</em></p>

<script type="text/javascript">
  function showhide($divid)
    {
    if(document.getElementById($divid).style.display=='none')
      {
      document.getElementById($divid).style.display = '';
      }
     else
     {
      document.getElementById($divid).style.display = 'none';
     }
    }
</script>

<h3 onclick="showhide('inv-2017'); return false;"><a name="2017"></a>2017</h3>
<div style="display: none;" id="inv-2017">
<br />

<!-- Investments2017 -->

{% assign investments = site.data.investments.2017 %}
{% assign investments = investments | sort:"Name" %}

<!-- Document -->

{% for investment in investments %}

<ul>
<li><strong>{{ investment.Name }}</strong> (Amount raised: {{ investment.Amount }}; Investors: {{ investment.Investors }})</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>

<h3 onclick="showhide('inv-2016'); return false;"><a name="2016"></a>2016</h3>
<div style="display: none;" id="inv-2016">

<br />

<!-- Investments2016 -->

<p><strong>2016</strong></p>

{% assign investments = site.data.investments.2016 %}
{% assign investments = investments | sort:"Name" %}

<!-- Document -->

{% for investment in investments %}

<ul>
<li><strong>{{ investment.Name }}</strong> (Amount raised: {{ investment.Amount }}; Investors: {{ investment.Investors }})</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>


<h3 onclick="showhide('inv-2015'); return false;"><a name="2015"></a>2015</h3>
<div style="display: none;" id="inv-2015">

<br />

<!-- Investments2015 -->

{% assign investments = site.data.investments.2015 %}
{% assign investments = investments | sort:"Name" %}

<!-- Document -->

{% for investment in investments %}

<ul>
<li><strong>{{ investment.Name }}</strong> (Amount raised: {{ investment.Amount }}; Investors: {{ investment.Investors }})</li>
</ul>

{% endfor %}

</div>

<p style="font-size:12px"><a href="#top"><em>Back to Top</em></a></p>


<p style="text-align: right; font-size:12px"><em>This data is powered by a GitHub repository: <a href="https://Hack-Education-Data.github.io/investments">Hack-Education-Data/investments</a> Last updated 31 October 2017.</em></p>
