<!-- footer start -->

<footer class="site-footer">

    <div class="inner">
         <section class="copyright"><i class="far fa-copyright"></i> 2010-2019 Audrey Watters</section>
         <section class="navigation"><a href="http://hackeducation.com">Hack Education</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://hackeducation.com/archives.html">Archives</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://audreywatters.com">About Audrey</a></section>
         <section class="navigation2"><a href="http://audreywatters.com/books/">Books</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://writing.hackeducation.com">Writing</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://speaking.hackeducation.com">Speaking</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://research.hackeducation.com">Research</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://news.hackeducation.com/">Newsletter</a></section>
         <section class="support"><a href="http://hackeducation.com/support/">Support Hack Education</a></section>
    </div>
</footer>

<!-- footer end -->
