<!-- footer start -->

<footer class="site-footer">

    <div class="inner">
         <section class="copyright"><i class="far fa-copyright"></i> 2010-2019 Audrey Watters</section>
         <section class="navigation"><a href="http://hackeducation.com">Hack Education</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://audreywatters.com">About Audrey</a></section>
         <section class="navigation2"><a href="http://books.audreywatters.com/">Books</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://writing.audreywatters.com">Essays</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://speaking.audreywatters.com">Talks</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://research.audreywatters.com">Research</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://news.hackeducation.com/">Newsletter</a></section>
    </div>
</footer>

<!-- footer end -->
